/* Global properties */
body {
    overflow: hidden;
    height: 100vh;
    font-family: Shadows Into Light;
}
/* Navbar and logo */
#hamburgerMenu {
    position: absolute;
    right: 35px;
    top: 22px;
    font-size: 23px;
    background: none;
    border: solid 2px red;
    color: red;
    border-radius: 5px;
    outline: none;
}
.navbar {
    user-select: none;
    height: 55px;
    background-color: white;
    z-index: 1;
}
.navbar::after {
    width: 100vw;
    height: 65px;
    transform: skew(-2deg) rotate(-2deg);
    content: "";
    background-color: white;
    box-shadow: 0 3px 4px rgba(70,70,70,0.7);
    position: absolute;
    top: 25px;
    z-index: -1;
}
.navbar-brand {
    padding-top: 1vw;
    margin-left: 3vw;
}
#navbarLinks {
    transform: skew(2deg) rotate(2deg);
    top: 65px;
    position: absolute;
    overflow: hidden;
    right: 3px;
    margin-top: 20px;
}
.navbar-nav li {
    transform: rotate(-2deg);
    position: relative;
    font-size: 24px;
    font-weight: bold;
}
.navbar-nav>li>a:hover, .navbar-nav>li>a:active, .navbar-nav>li>a:focus {
    background-color: transparent;    
}
.navbar-nav li a {
    border: solid 2px #464646;
    color: white;
    text-shadow: 1px 1px 2px black;
    background-color: red;
    margin-top: 2vh;
    margin-right: 20px;
    text-align: center;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.4);
    border-radius: 5px;
}
.navbar-nav li a:hover {
    background-color: red;   
}
.navbar-nav i {
    transform: scale(1.0);
    position: absolute;
    z-index: -1;
    color: rgba(255,0,0,0.7);
    font-size: 45px;
    top: 7px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}
#home i {
    left: 8px;
    top: 3px;
}
#about i {
    left: 28px;
    top: 3px;
}
#listen i, #watch i {
    left: 20px;
    top: 5px;
}
#book i {
    font-size: 40px;
    top: 5px;
    left: 10px;
}

/* Main body section */
.pageBreak {
    height: 3px;
    border-color: #464646;
}
main {
    background-color: #f2f2f2;
    height: calc(100vh - 140px);
    transform: skew(-2deg) rotate(-2deg);
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100vw;
    position: relative;
    top: 17px;
}
main.homepage {
    overflow: hidden;
}
.mainBody {
    overflow-y: visible;
    top: 0;
    height: 100%;
    position: relative;
    width: 100vw;
    padding: 0;
    color:  #464646;
    font-size: 20px;
    margin: 0;
}
.mainBody h2, .mainBody h3 {
    font-weight: bold;
    margin-top: 0;
}
.unSkew {
    transform: skew(2deg) rotate(2deg);
}

/* Home Page */

.heroImage {
    height: 100%;
    width: 100%;
    background-image: url('../../assets/images/homepage-banner-mobile.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center 20%;
}

/* About Us Page */

.aboutUsContainer {
    padding-top: 20px;
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.aboutUsContainer .row {
    margin: 0;
}
.aboutUsContainer img {
    border: solid  #464646 3px;
    padding-left: -15px;
    padding-right: -15px;
    margin-bottom: 20px;
}
.aboutUsDescription {
    margin-top: 20px;
}

/* Listen Page */
.listenContainer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}
#listenPage {
    margin-bottom: 20px;
}
#listenPage h2 {
    margin: 20px 40px;
}
#listenPage h3 {
    margin: 20px 40px 30px;
}
.audioPlayer {
    width: 100%;
    cursor: pointer;
}
.audioTrackContainer {
    margin-left: 30px;
    margin-right: 30px;
    box-shadow: 1px 1px 4px rgba(70,70,70,0.8);
    margin-bottom: 20px;
    padding: 10px 0;
    
}
.audioTrackContainer h3 {
    margin-left: 20px;
}

/* Watch Videos Page */

.watchContainer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-top: 20px;
}
.daydreamBelieverVid {
    width: 100%;
    height: auto;
}
.videoContainer {
    transition: width 0.2s ease-out;
    margin: 20px auto;   
    width: 100%;
    
}

/* Albums Page */

.albumsContainer {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 40px;
    margin-top: 20px;
}
.albumTile {
    box-shadow: 1px 1px 4px rgba(70,70,70,0.8);
    -webkit-backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    background-color: white;
}
.albumTile td {
    padding: 5px 0;
}
.albumTile img {
    margin: 20px;
}
.albumDescription {
    width: 100%;
    padding-bottom: 20px;
    
    
}
.albumDescription h3 {
    text-align: center;
}

/* Contact page */

.bookContainer {
    padding: 20px;    
    margin-top: 20px;
}
#contactForm {
    margin-top: 20px;   
}
#contactForm input {
    border: solid 2px #464646;   
}
#contactForm textarea {
    border: solid 2px #464646;
    resize: none;
}
#contactForm .btnSubmit {
    width: 100%;
    margin-top: 20px;
    background-color: rgba(255,0,0,0.1);
    border: solid 2px #464646;
    color: #464646;
    font-size: 20px;
    font-weight: bold;
}

/* Footer */

.footerSection {
    width: 100vw;
    background-color: white;
    transform: skew(-2deg) rotate(-2deg);
    height: 68px;
    position: relative;
    bottom: -17px;
    box-shadow: 0 -3px 4px rgba(70,70,70,0.7);
}
.whoDunnit {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 50px;
    user-select: none;
    display: none;
}
.socialMediaContainer {
    float: right;
    font-size: 30px;
    margin-top: 5px;
    margin-right: 5vw;
}
.socialMediaContainer a {
    color: #464646;
    transition: color 0.2s ease-out;
}
.socialMediaContainer a:hover {
    color: red;
}

/* Media queries */

@media only screen and (min-width: 360px) { 
    .whoDunnit {
        display: block;    
    }
}
@media only screen and (min-width: 576px) {
    .heroImage {
        background-image: url('../../assets/images/homepage-banner.jpg');
        background-size: cover;
    }
}
@media only screen and (min-width: 768px) {
    #navbarLinks {
        margin-top: 0;
        transform: skew(-2deg) rotate(-2deg);
    }
    .navbar-nav li a {
        border: none;
        color: #464646;
        background-color: transparent;
        margin: 0;
        text-align: left;
        box-shadow: none;
        text-shadow: 1px 1px 2px white;
    }
    .navbar-nav>li>a:hover {
        background-color: transparent;
    }
    .navbar-nav>li>a:hover i {
        opacity: 1;
    }
    .navbar-nav li.active i {
        opacity: 1;
    }
    #contactForm {
        width: 768px;
        margin-left: auto;
        margin-right: auto;
    }
    .videoContainer {
        width: 70%;
    } 
    /* Stagger the nav links on desktop */
    .navbar-nav #home {
        margin-top: 18px;
    }
    .navbar-nav #about {
        margin-top: 16px;
    }
    .navbar-nav #listen {
        margin-top: 14px;
    }
    .navbar-nav #watch {
        margin-top: 12px;
    }
    .navbar-nav #albums {
        margin-top: 10px;
    }
    .navbar-nav #book {
        margin-top: 8px;
    }
    #navbarLinks {
        top: 0;
        right: 3vw;
        position: absolute;
    }
    
}
@media only screen and (max-height: 420px) {
    .videoContainer {
        width: 80%;
    } 
}